<h1>createRecipeForm</h1>
<form action="/createRecipe" method="post">
  <div>
    <label for="name">Recipe Name:</label><br>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="prep_time">Prep Time:</label><br>
    <input type="number" name="prep_time" id="prep_time">
  </div>
  <div>
    <label for="description">Description:</label><br>
    <input type="text" name="description" id="description">
  </div>
  <br>
  <input type="submit" value="Create my Recipe">
</form>
