* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.container {

    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: dodgerblue;
    padding: 20px;
    margin-top: 150px;
}

.child-1 {
    bottom: 0px;
    padding: 5px;
    margin: 5px;
    background-color: forestgreen;
}
.child-2{
    display: none;
    padding: 5px;
    margin: 5px;
    background-color: tomato;
}
.child-3 {
    padding: 5px;
    margin: 5px;
    background-color: turquoise;
}